
elemento {
    height: 265px;
    width: 100%;
}

.js #full-width-slider.pronto, .lt-ie10.js #full-width-slider.pronto {
    background-image: none;
}

.js #full-width-slider {
    background: url("../img/loading_gif.gif") no-repeat scroll center center / 45px 32px transparent;
}

#full-width-slider {
    width: 100%;
    z-index: 5;
    overflow: hidden;
    height: 100vh;
}

.royalSlider {
    width: 600px;
    height: 400px;
    position: relative;
    direction: ltr;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #424B51;
}

html {
    font-size: 62.5%;
}

html {
    font-family: sans-serif;
}
